<% tweets.each do |tweet|%>
<div class="card mb-1">
  <div class="card-body">
    <p class="card-text"><%= tweet.title %></p>
    <p class="card-text"><small><%= simple_format tweet.tantou %></small></p>
    <p class="card-text"><small><%= simple_format tweet.body %></small></p>
    <%= link_to "詳細へ", tweet_path(tweet.id) %>
    <%= button_to "削除する", tweet_path(tweet.id), method: :delete %>
  </div>
</div>
<% end %>