<% @boards.each do |tweet|%>
<div class="container">
  <div class="row">
    <p class="col-2"><%= tweet.tantou %></p>
    <p class="col-4"><%= tweet.title %></p>
    <p class="col-2"><%= tweet.time %></p>
    <%= link_to tweet_path(tweet),class: "col-1" do %>
    <i class="fas fa-search"></i>
    <% end %>
    <% if current_user == tweet.user %>
    <%= link_to tweet_path(tweet.id),class: "col-1", method: :delete do %>
    <i class="fas fa-trash"></i>
    <% end %>
    <% end %>
  </div>
</div>
<% end %>