<% @boards.each do |tweet|%>
  <tbody>
    <tr>
      <div class="row">
        <td class="col-1"><%= tweet.completed_i18n%></td> 
        <td class="col-2"><%= tweet.tantou %></td>
      <td class="col-3"><%= tweet.title %></td>
      <td class="col-2"><%= tweet.time %></td>
      <td class="col-1">
        <%= link_to tweet_path(tweet) do %><i class="fas fa-comment"></i><% end %>
      </td>
      <td>
      <% if current_user == tweet.user %>
      <%= link_to edit_tweet_path(tweet),class: "col-1" do %>
      <i class="fas fa-edit"></i>
      <% end %>
      </td>
      <td>
      <%= link_to tweet_path(tweet.id),class: "col-1", method: :delete do %>
      <i class="fas fa-trash"></i>
      <% end %>
      <% end %>
      </td>
      <td>
      <% if user_signed_in? %>
      <% if current_user.already_liked?(tweet) %>
      <%= link_to tweet_like_path(id: tweet.id, tweet_id: tweet.id),class: "col-1", method: :delete do %>
      <i class="fas fa-heart"></i><%= tweet.likes.count %>
      <% end %>
      <% else %>
      <%= link_to tweet_likes_path(id: tweet.id, tweet_id: tweet.id),class: "col-1", method: :post do %>
      <i class="far fa-heart"></i><%= tweet.likes.count %>
      <% end %>
      <% end %>
      <% else %>
      <i class="far fa-heart"></i><%= tweet.likes.count %>
      <% end %>
      </td>
      </div>
    </tr>
  </tbody>
<% end %>