<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
       <div class="logo">
        <a class="nav-link text-white" aria-current="page" href="#">ToDoShare</a>
       </div>
        <a class="nav-link text-white" href="#">使い方</a>
        <a class="nav-link text-white" href="/users/sign_up">新規登録</a>
        <a class="nav-link text-white" href="/users/sign_in">ログイン</a>
      </div>
    </div>
  </div>
 </nav>
</header>
<div class="container mt-5">
  <div class="row">
    <div class="col-3">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        新規投稿
      </button>
    </div>
    <% if user_signed_in? %>
<%= link_to "マイページへ", user_path(current_user.id) %>　
<% end %>
    <div class="col-9 tweets">
      <%= render 'tweets', tweets: @tweets%>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">新規投稿</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= form_with model:@tweet,local:false do |f|%>
      <div class="modal-body">
        <div class="form-group">
          <%= f.label :title,"TODO" %>
          <%= f.text_field :title, class: "form-control"%>
        </div>
        <div class="form-group">
          <%= f.label :tantou,"担当者" %>
          <%= f.text_field :tantou, class: "form-control"%>
        </div>
        <div class="form-group">
          <%= f.label :body,"内容" %>
          <%= f.text_area :body, class: "form-control"%>
        </div>
               <div class="form-group">
          <%= f.label :time,"期日" %>
          <%= f.date_field :time %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
        <%= f.submit "投稿する", class: "btn btn-primary"%>
      </div>
      <% end %>
    </div>
  </div>
</div>
<footer>
  <div class="bg-dark text-white text-center p-3">
    Copyright Takumi Fujiwara ,2021 All Rights Reserved.
  </div>
</footer>