<header class="bg-dark">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <div class="logo">
            <a class="nav-link text-white" aria-current="page" href="/">WorkShare</a>
          </div>
          <%= link_to "マイページへ", user_path(current_user),{class: "nav-link text-white"} %>
        </div>
      </div>
    </div>
  </nav>
</header>

<div class="container mt-5">
  <div class="row">
    <div class="col-3">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        新規投稿
      </button>
      <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal2">
        検索一覧
      </button>
    </div>
    <% if user_signed_in? %>
    <% end %>
    <div class="table">
      <tr>
        <th><%= sort_link(@q, :completed, "ステータス") %></th>
        <th>担当</th>
        <th>内容</th>
        <th><%= sort_link(@q, :time, "締め切り日") %></th>
      </tr>
    </div>
    <div class="col-9 tweets">
      <%= render 'tweets', tweets: @boards%>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">新規投稿</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <%= form_with model:@tweet,local:false do |f|%>
          <div class="form-group">
            <%= f.label :title,"TODO" %>
            <%= f.text_field :title, class: "form-control"%>
          </div>
          <div class="form-group">
            <%= f.label :tantou,"担当者" %>
            <%= f.text_field :tantou, class: "form-control"%>
          </div>
          <div class="form-group">
            <%= f.label :body,"内容" %>
            <%= f.text_area :body, class: "form-control"%>
          </div>
          <div class="form-group">
            <%= f.label :time,"期日" %>
            <%= f.date_field :time %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
          <%= f.submit "投稿する", class: "btn btn-primary"%>
        </div>
        <% end %>
      </div>
    </div>
  </div>

<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">検索一覧</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= search_form_for @q, url: tweets_path do |f| %>
      <div class="modal-body">
        <div class="form-group">
          <%= f.label :tantou_cont, '担当者名' %>
          <%= f.search_field :tantou_cont,class: "form-control" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
          <%= f.submit "検索", class: "btn btn-primary"%>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<footer class="bg-dark">
  <div class="text-white text-center">
    Copyright Takumi Fujiwara ,2021 All Rights Reserved.
  </div>
</footer>