<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
       <div class="logo">
        <a class="nav-link text-white" aria-current="page" href="/">ToDoShare</a>
       </div>
        <a class="nav-link text-white" href="#">使い方</a>
        <a class="nav-link text-white" href="/users/sign_up">新規登録</a>
        <a class="nav-link text-white" href="/users/sign_in">ログイン</a>
      </div>
    </div>
  </div>
 </nav>
</header>
<div class="tweet">
    <% if @tweet.completed=0%>
    <p class="card-text">開始前</p>
    <% elsif @tweet.completed=1 %>
    <p class="card-text">進行中</p>
    <% elsif @tweet.completed=2 %>
    <p class="card-text">終了</p>
    <% end %>
  <p><%= @tweet.body %></p>
  <p><%= @tweet.created_at %></p>
    <%= form_with(model: @tweet, url: tweet_path, local: true,method: :patch, class: "form-row") do |f| %>
    <%= f.select :completed, Tweet.completeds_i18n.invert, {prompt: false}, class:"form-control form-control-sm col-2" %>
    <%= f.submit "更新" %>
    <% end %>
</div>
<%= link_to "Tweet一覧に戻る", tweets_path %>