<header class="bg-dark">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <div class="logo">
            <a class="nav-link text-white" aria-current="page" href="/">WorkShare</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
<div class="main">
  <div class="container">
    <div class="tweet">
      <h1>TODO詳細</h1>
      <div class="bg-white">

        <div class="form">
          <p>担当者</p>
          <p><%= @tweet.tantou %></p>
        </div>

        <div class="form">
          <p>タイトル</p>
          <p><%= @tweet.title %></p>
        </div>

        <div class="form">
          <p>期限</p>
          <p><%= @tweet.time %></p>
        </div>

        <div class="form">
          <p>詳細</p>
          <p><%= @tweet.body %></p>
        </div>
        <div class="from">
          <%= form_with(model: @tweet, url: tweet_path, local: true,method: :patch, class: "form-row col-1") do |f| %>
          <%= f.select :completed, Tweet.completeds_i18n.invert, {prompt: false}, class:"form-control form-control-sm col-2" %>
          <%= f.submit "更新" %>
          <% end %>
        </div>
      </div>
      <div class="comment-wrapper">
        <p>コメント一覧</p>
        <% @comments.each do |c| %>
        <div>
          <%= image_tag c.user.image_url ,class: "user_image ",size: "60x60" if c.user.image? %>
          <%= c.user.name unless c.user.blank? %>
          <%= c.created_at.to_s(:datetime_jp) %>
          <br>
          <%= c.content %>
        </div>
        <br>
        <% end %>
        <% if user_signed_in? %>
        <%= form_with(model: [@tweet, @comment], local: true) do |f| %>
        <%= f.text_area :content,class: "col-8" %>
        <%= button_tag type: "submit" do %>
        <i class="far fa-comments"></i> コメントする
        <% end %>
        <% end %>
        <% end %>
        <%= link_to "Tweet一覧に戻る", tweets_path %>
      </div>
      
      <br>
      <% end %>

      <% if user_signed_in? %>
        <%= form_with(model: [@tweet, @comment], local: true) do |f| %>
        <%= f.text_area :content,class: "col-8" %>
        <%= button_tag type: "submit" do %>
        <i class="far fa-comments"></i> コメントする
      <% end %>
      <% end %>
      <% end %>
      <%= link_to "Tweet一覧に戻る", tweets_path %>

    </div>
  </div>
</div>
<footer class="bg-dark">
  <div class="text-white text-center">
    Copyright Takumi Fujiwara ,2021 All Rights Reserved.
  </div>
</footer>