<header class="bg-dark">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <div class="logo">
            <a class="nav-link text-white" aria-current="page" href="/">WorkShare</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
<main>
  <div class="menu2 d-flex align-items-center box">
    <div class="container box-inner col-4">
      <div class="bg-light p-3  rounded ">
        <h1>マイページ</h1>
        <%= image_tag @user.image_url ,class: "user_image ",size: "250x200" if @user.image? %>
        <p>名前 : <%= @user.name %></p>
        <p>メールアドレス : <%= @user.email %></p>
        <% if current_user.id == @user.id %>
        <%= link_to "編集する", edit_user_registration_path %>
        <% end %>
        <h2><%= @user.name%>へのTODO</h2>
        <% @user.tweets.each do |t| %>
        <%= t.title %>
        <br />
        <% end %>
        <%= link_to "Tweet一覧に戻る", tweets_path %>
      </div>
    </div>
  </div>
</main>
<footer class="bg-dark">
  <div class="text-white text-center">
    Copyright Takumi Fujiwara ,2021 All Rights Reserved.
  </div>
</footer>